In [1]:
!git clone https://github.com/PhonePe/pulse.git

Cloning into 'pulse'...
remote: Enumerating objects: 7975, done.
remote: Counting objects: 100% (7975/7975), done.
remote: Compressing objects: 100% (6637/6637), done.
remote: Total 7975 (delta 2465), reused 6527 (delta 1031), pack-reused 0
Receiving objects: 100% (7975/7975), 2.11 MiB | 9.04 MiB/s, done.
Resolving deltas: 100% (2465/2465), done.

In [4]:
import pandas as pd
import json
import os

# Agg Transaction

Path=os.getcwd()+"//pulse/data/aggregated/transaction/country/india/state/"
Agg_Trans_State=os.listdir(Path)
Agg_Trans_State

# Create table agg_trans(State Varchar(255), Year int, Quarter varchar(255),Transaction_type Varchar(255),Transaction_count int not null,Transaction_amount dedcimal(10,2))

Col_Name={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_Trans_State:
  Path_aggT_State=Path+i+"/"
  Agg_yr=os.listdir( Path_aggT_State)    
  for j in Agg_yr:
    Path_aggT_Year= Path_aggT_State+j+"/"
    Agg_yr_list=os.listdir(Path_aggT_Year)        
    for k in Agg_yr_list:
      Path_aggT_Year_Qtr=Path_aggT_Year+k
      with open(Path_aggT_Year_Qtr,'r') as f1:
        file1=json.load(f1)
        for z in file1['data']['transactionData']:
          Name=z['name']
          count=z['paymentInstruments'][0]['count']
          amount=z['paymentInstruments'][0]['amount']
          Col_Name['Transaction_type'].append(Name)
          Col_Name['Transaction_count'].append(count)
          Col_Name['Transaction_amount'].append(amount)
          Col_Name['State'].append(i)
          Col_Name['Year'].append(j)
          Col_Name['Quarter'].append(int(k.strip('.json')))
          break
Agg_Trans=pd.DataFrame(Col_Name)
Agg_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,jammu-&-kashmir,2018,3,Peer-to-peer payments,1260453,3.616023e+09
1,jammu-&-kashmir,2018,2,Recharge & bill payments,794502,1.667622e+08
2,jammu-&-kashmir,2018,1,Recharge & bill payments,457813,7.881261e+07
3,jammu-&-kashmir,2018,4,Peer-to-peer payments,1265457,5.151830e+09
4,jammu-&-kashmir,2019,3,Peer-to-peer payments,618694,3.499425e+09
...,...,...,...,...,...,...
715,goa,2020,4,Peer-to-peer payments,1550251,5.407626e+09
716,goa,2022,3,Merchant payments,7595135,5.112175e+09
717,goa,2022,2,Merchant payments,7812998,5.736211e+09
718,goa,2022,1,Merchant payments,6364271,4.682000e+09
719,goa,2022,4,Merchant payments,10319138,6.739206e+09

In [5]:


# Agg User

Path=os.getcwd()+"//pulse/data/aggregated/user/country/india/state/"

Agg_User_State=os.listdir(Path)
Agg_User_State

# Create table agg_user(State Varchar(255),Year int ,Quarter varchar(255),Reg_Users int ,App_Opens int)

Col_Name={'State':[], 'Year':[],'Quarter':[],'Agg_Reg_Users':[], 'Agg_App_Opens':[]}
for i in Agg_User_State:
    Path_aggU_State=Path+i+"/"
    #print(Path_aggU_State)
    Agg_user_yr=os.listdir(Path_aggU_State)    
    for j in Agg_user_yr:
        Path_aggU_Year=Path_aggU_State+j+"/"
        Agg_user_yr_list=os.listdir(Path_aggU_Year)        
        for k in Agg_user_yr_list:
          Path_aggU_Year_Qtr=Path_aggU_Year+k
          with open(Path_aggU_Year_Qtr,'r') as f2:
            file2=json.load(f2)
               #print(Data)
            Reg= file2['data']['aggregated']['registeredUsers']
            App= file2['data']['aggregated']['appOpens']
               #print("Registered users :",Reg)
               #print("App opens:",app)
            Col_Name['Agg_Reg_Users'].append(Reg)
            Col_Name['Agg_App_Opens'].append(App)
            Col_Name['State'].append(i)
            Col_Name['Year'].append(j)
            Col_Name['Quarter'].append(int(k.strip('.json')))
          

Agg_User=pd.DataFrame(Col_Name)
Agg_User

               State  Year  Quarter  Reg_Users  App_Opens
0    jammu-&-kashmir  2018        3     342529          0
1    jammu-&-kashmir  2018        2     261609          0
2    jammu-&-kashmir  2018        1     176425          0
3    jammu-&-kashmir  2018        4     436563          0
4    jammu-&-kashmir  2019        3     658455    3843919
..               ...   ...      ...        ...        ...
715              goa  2020        4     527584   10991118
716              goa  2022        3     817830   19712764
717              goa  2022        2     777779   19062157
718              goa  2022        1     738628   18678798
719              goa  2022        4     855202   43005212

[720 rows x 5 columns]

In [55]:

Path=os.getcwd()+"//pulse/data/top/transaction/country/india/state/"

Top_Trans_State=os.listdir(Path)
Top_Trans_State

Col_Name={ 'State':[],'Year':[],'Quarter':[],'Topdist_trans':[],'Topdist_trans_amt':[],'TopPin_trans':[],'TopPin_trans_amt':[]} # 'Topstates_trans':[],'Topstate_trans_amt':[],
for i in Top_Trans_State:
    Path_topT_State=Path+i+"/"
    topT_yr=os.listdir(Path_topT_State)    
    for j in topT_yr:
        Path_topT_Year=Path_topT_State+j+"/"
        topT_yr_list=os.listdir(Path_topT_Year)        
        for k in topT_yr_list:
            Path_topT_Year_Qtr=Path_topT_Year+k
            with open(Path_topT_Year_Qtr,'r') as f3:
                file3=json.load(f3)
                if file3['data']['pincodes'] is not None:
                  for z in file3['data']['pincodes']:
                    stat_pin=z['entityName']
                    pin_trans_amt=z['metric']['amount']

                if file3['data']['districts'] is not None:
                 for z in file3['data']['districts']:
                   dist_name=z['entityName']
                   dist_trans_amt=z['metric']['amount']

                   
                Col_Name['Topdist_trans'].append(dist_name)
                Col_Name['Topdist_trans_amt'].append(dist_trans_amt)
                Col_Name['TopPin_trans'].append(stat_pin)
                Col_Name['TopPin_trans_amt'].append(pin_trans_amt)
                Col_Name['State'].append(i)
                Col_Name['Year'].append(j)
                Col_Name['Quarter'].append(int(k.strip('.json')))
                  
Top_Trans=pd.DataFrame(Col_Name)
Top_Trans

,State,Year,Quarter,Topdist_trans,Topdist_trans_amt,TopPin_trans,TopPin_trans_amt
0,jammu-&-kashmir,2018,3,udhampur,9.225825e+07,193502,2.519994e+07
1,jammu-&-kashmir,2018,2,kulgam,1.771101e+07,191131,4.737527e+06
2,jammu-&-kashmir,2018,1,ganderbal,9.107650e+06,191111,6.335074e+06
3,jammu-&-kashmir,2018,4,pulwama,1.097778e+08,190001,6.033295e+07
4,jammu-&-kashmir,2019,3,pulwama,1.042668e+08,184121,2.995202e+07
...,...,...,...,...,...,...,...
715,goa,2020,4,south goa,2.187791e+09,403521,1.987012e+08
716,goa,2022,3,south goa,6.497339e+09,403521,6.037041e+08
717,goa,2022,2,south goa,6.388196e+09,403515,7.444584e+08
718,goa,2022,1,south goa,5.740806e+09,403722,3.870500e+08
719,goa,2022,4,south goa,7.656552e+09,403722,4.601667e+08

In [12]:
# Top User

Path=os.getcwd()+"//pulse/data/top/user/country/india/state/"

Top_User_State=os.listdir(Path)
Top_User_State

Col_Name={'State':[], 'Year':[],'Quarter':[],'Top_usersDist':[], 'Top_usersDist_Reg_Users':[], 'Top_usersPin':[],'Top_userspin_Reg_Users':[]}
for i in Top_User_State:
    Path_topT_State=Path+i+"/"
    topU_yr=os.listdir(Path_topT_State)    
    for j in topU_yr:
        Path_topT_Year=Path_topT_State+j+"/"
        topU_yr_list=os.listdir(Path_topT_Year)        
        for k in topU_yr_list:
            Path_topT_Year_Qtr=Path_topT_Year+k
            with open(Path_topT_Year_Qtr,'r') as f4:
                file4=json.load(f4)
                #print(Data)

# states NONE, only dist,pin
                
            for z in file4['data']['districts']:
              Dist_Name=z['name']
              Top_Reg_Users=z['registeredUsers']
            for z in file4['data']['pincodes']:
              pin_num=z['name']
              Top_Reg_Users_pin=z['registeredUsers']

              Col_Name['Top_usersDist'].append(Dist_Name)
              Col_Name['Top_usersDist_Reg_Users'].append(Top_Reg_Users)
              Col_Name['Top_usersPin'].append(pin_num)
              Col_Name['Top_userspin_Reg_Users'].append(Top_Reg_Users_pin)
              Col_Name['State'].append(i)
              Col_Name['Year'].append(j)
              Col_Name['Quarter'].append(int(k.strip('.json')))

Top_User=pd.DataFrame(Col_Name)
Top_User

,State,Year,Quarter,Top_usersDist,Top_usersDist_Reg_Users,Top_usersPin,Top_userspin_Reg_Users
0,jammu-&-kashmir,2018,3,samba,13304,182101,9601
1,jammu-&-kashmir,2018,3,samba,13304,193201,9032
2,jammu-&-kashmir,2018,3,samba,13304,180001,7476
3,jammu-&-kashmir,2018,3,samba,13304,192231,5979
4,jammu-&-kashmir,2018,3,samba,13304,190001,5943
...,...,...,...,...,...,...,...
7135,goa,2022,4,south goa,327376,403802,35405
7136,goa,2022,4,south goa,327376,403722,35057
7137,goa,2022,4,south goa,327376,403521,25628
7138,goa,2022,4,south goa,327376,403512,22733
7139,goa,2022,4,south goa,327376,403515,19246

In [30]:
# Map Transaction

Path= os.getcwd()+"//pulse/data/map/transaction/hover/country/india/state/"

Map_Trans_State=os.listdir(Path)
Map_Trans_State


Col_Name={'State':[], 'Year':[],'Quarter':[],'hoverDistTrans_name':[], 'hoverTrans_count':[], 'hoverTrans_amount':[]}
for i in Map_Trans_State:
    Path_mapT_State=Path+i+"/"
    mapT_yr=os.listdir(Path_mapT_State)    
    for j in mapT_yr:
        Path_mapT_Year=Path_mapT_State+j+"/"
        mapT_yr_list=os.listdir(Path_mapT_Year)        
        for k in mapT_yr_list:
            Path_mapT_Year_Qtr=Path_mapT_Year+k
            with open(Path_mapT_Year_Qtr,'r') as f5:
                file5=json.load(f5)
                #if file3['data']['districts'] is not None:
                for z in file5['data']['hoverDataList']:
                  Dist_Name=z['name']
                  Trans_count= z['metric'][0]['count']
                  Trans_amount = z['metric'][0]['amount']
                  Col_Name['hoverDistTrans_name'].append(Dist_Name)
                  Col_Name['hoverTrans_count'].append(Trans_count)
                  Col_Name['hoverTrans_amount'].append(Trans_amount)
                  Col_Name['State'].append(i)
                  Col_Name['Year'].append(j)
                  Col_Name['Quarter'].append(int(k.strip('.json')))
  
Map_Trans=pd.DataFrame(Col_Name)
Map_Trans

,State,Year,Quarter,hoverDistTrans_name,hoverTrans_count,hoverTrans_amount
0,jammu-&-kashmir,2018,3,muzaffarabad district,211,5.818788e+05
1,jammu-&-kashmir,2018,3,doda district,12645,3.402759e+07
2,jammu-&-kashmir,2018,3,samba district,28728,6.291358e+07
3,jammu-&-kashmir,2018,3,mirpur district,2789,7.804798e+06
4,jammu-&-kashmir,2018,3,srinagar district,154314,2.704059e+08
...,...,...,...,...,...,...
14631,goa,2022,2,south goa district,4216281,6.388196e+09
14632,goa,2022,1,north goa district,8513573,1.407564e+10
14633,goa,2022,1,south goa district,3700525,5.740806e+09
14634,goa,2022,4,north goa district,11455490,1.726843e+10
14635,goa,2022,4,south goa district,5737184,7.656552e+09

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [53]:

# Map User

Path=os.getcwd()+"//pulse/data/map/user/hover/country/india/state/"

Map_User_State=os.listdir(Path)
Map_User_State


Col_Name={'State':[], 'Year':[],'Quarter':[],'hoverDist_User_Name':[], 'hover_User_Reg':[], 'hover_User_AppOpens':[]}
for i in Map_User_State:
    Path_mapU_State=Path+i+"/"
    mapU_yr=os.listdir(Path_mapU_State)    
    for j in mapU_yr:
        Path_mapU_Year=Path_mapU_State+j+"/"
        mapU_yr_list=os.listdir(Path_mapU_Year)        
        for k in mapU_yr_list:
            Path_mapU_Year_Qtr=Path_mapU_Year+k
            with open(Path_mapU_Year_Qtr,'r') as f6:
                file6=json.load(f6)
                for state,details in file6['data']['hoverData'].items():
                  State_Name= state
                  State_user_Reg= details['registeredUsers']
                  State_user_App= details['appOpens']
                  Col_Name['hoverDist_User_Name'].append(State_Name)
                  Col_Name['hover_User_Reg'].append(State_user_Reg)
                  Col_Name['hover_User_AppOpens'].append(State_user_App)
              
              
                  Col_Name['State'].append(i)
                  Col_Name['Year'].append(j)
                  Col_Name['Quarter'].append(int(k.strip('.json')))

Map_User=pd.DataFrame(Col_Name)
Map_User

,State,Year,Quarter,hoverDist_User_Name,hover_User_Reg,hover_User_AppOpens
0,jammu-&-kashmir,2018,3,muzaffarabad district,89,0
1,jammu-&-kashmir,2018,3,doda district,5618,0
2,jammu-&-kashmir,2018,3,samba district,13304,0
3,jammu-&-kashmir,2018,3,mirpur district,1133,0
4,jammu-&-kashmir,2018,3,srinagar district,35583,0
...,...,...,...,...,...,...
14635,goa,2022,2,south goa district,297426,9237463
14636,goa,2022,1,north goa district,456250,9699093
14637,goa,2022,1,south goa district,282378,8979705
14638,goa,2022,4,north goa district,527826,26805263
14639,goa,2022,4,south goa district,327376,16199949